.ui.container.employee form {
  max-width: 500px;
  padding: 20px 12px 10px 20px;
  font: 13px Arial, Helvetica, sans-serif;
}
.ui.container.employee form label {
  display: block;
  margin: 0px 0px 15px 0px;
}
.ui.container.employee form label > span {
  width: 100px;
  font-weight: bold;
  float: left;
  padding-top: 8px;
  padding-right: 5px;
}
.ui.container.employee form span.required {
  color: red;
}
.ui.container.employee form .tel-number-field {
  width: 40px;
  text-align: center;
}
.ui.container.employee form input {
  width: 48%;
}
.ui.container.employee form input,
.ui.container.employee form .tel-number-field,
.ui.container.employee form .textarea-field,
.ui.container.employee form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c2c2c2;
  box-shadow: 1px 1px 4px #ebebeb;
  -moz-box-shadow: 1px 1px 4px #ebebeb;
  -webkit-box-shadow: 1px 1px 4px #ebebeb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 7px;
  outline: none;
}
.ui.container.employee form input:focus,
.ui.container.employee form .tel-number-field:focus,
.ui.container.employee form .textarea-field:focus,
.ui.container.employee form select:focus {
  border: 1px solid #0c0;
}
.ui.container.employee form .textarea-field {
  height: 100px;
  width: 55%;
}
.ui.container.employee form input[type='submit'],
.ui.container.employee form input[type='button'] {
  border: none;
  padding: 8px 15px 8px 15px;
  background: #ff8500;
  color: #fff;
  box-shadow: 1px 1px 4px #dadada;
  -moz-box-shadow: 1px 1px 4px #dadada;
  -webkit-box-shadow: 1px 1px 4px #dadada;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.ui.container.employee form input[type='submit']:hover,
.ui.container.employee form input[type='button']:hover {
  background: #ea7b00;
  color: #fff;
}
